/* Navbar */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 60px;
    background:#020617;
    border-bottom:1px solid #1e293b;
}

/* Logo */
.logo{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:22px;
    font-weight:bold;
    color:white;
}

.highlight{
    color:#22c7ff;
}

/* Links */
.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:#94a3b8;
    font-size:15px;
}

.nav-links a:hover{
    color:white;
}

.active{
    background:#0ea5e9;
    padding:8px 16px;
    border-radius:8px;
    color:white !important;
}

/* User section */
.user-section{
    display:flex;
    align-items:center;
    gap:20px;
}

.profile{
    display:flex;
    align-items:center;
    gap:8px;
    background:#0f172a;
    padding:6px 12px;
    border-radius:20px;
    color:white;
}

.profile-icon{
    background:#0284c7;
    padding:6px 10px;
    border-radius:50%;
}

/* Logout */
.logout-btn{
    background:transparent;
    border:1px solid #334155;
    color:white;
    padding:8px 14px;
    border-radius:6px;
    cursor:pointer;
}

.logout-btn:hover{
    border-color:#ef4444;
    color:#ef4444;
}

body{
    background:#020617;
    font-family:Arial;
    color:white;
}

/* container */

.register-container{
    max-width:400px;
    margin:80px auto;
}

/* title */

h1{
    text-align:center;
    font-size:36px;
}

.subtitle{
    text-align:center;
    color:#94a3b8;
    margin-bottom:30px;
}

/* role buttons */

.role-select{
    display:flex;
    gap:10px;
    margin-bottom:30px;
}

.role{
    flex:1;
    padding:15px;
    border-radius:10px;
    border:1px solid #334155;
    background:#0f172a;
    color:white;
}

.active{
    border:2px solid #00beff;
}

/* form */

form{
    display:flex;
    flex-direction:column;
}

label{
    margin-top:15px;
}

input{
    padding:12px;
    border-radius:8px;
    border:1px solid #334155;
    background:#020617;
    color:white;
}

/* signup button */

.signup-btn{
    margin-top:30px;
    padding:15px;
    background:#00beff;
    border:none;
    border-radius:10px;
    color:white;
    font-size:16px;
}
